<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan
		base-package="com.zhou.**" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<context:annotation-config />
	<!-- 1、引用数据库配置文件。 -->
	<context:property-placeholder
		location="classpath:/druid.properties" />
	<!-- 3、配置数据源。 -->
	<bean id="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource">
		<!-- 3.1 配置基本数据连接信息 -->
		<property name="driverClassName"
			value="${druid.driverClassName}" />
		<property name="url" value="${druid.url}" />
		<property name="username" value="${druid.username}" />
		<property name="password" value="${druid.password}" />
		<!-- 3.2 配置连接池信息 -->
		<property name="initialSize" value="${druid.initialSize}" />
	</bean>


	<!--2创建一个sql会话工厂bean，指定数据源 -->
	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定druid数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 扫描实体类,并加上实体类 别名-->
		<property name="typeAliasesPackage"
			value="com.zhou.dao.entity" />
		<!-- 加载mybatis全局配置 -->
		<property name="configLocation" value="classpath:/mybatis_config.xml" />
		<!-- 扫描映射mapper.xml文件 -->
		<property name="mapperLocations"
			value="classpath*:com/zhou/dao/mapper/*.xml" />
	</bean>

	<!-- 5、扫描dao接口,做mapper代理配置 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zhou.dao.interfaces" />
	</bean>

	<!-- 6、数据库事务策略。 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- <tx:jta-transaction-manager /> -->
	<!-- 6.1、启用事务注解 -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />
</beans>